<!doctype html>
<html lang="ja">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>index page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="display-1">ぱぶりっしゃ〜</h1>

		<p class="lead my-5">「俺との連絡が途絶えて24時間経つと、例のデータが仲間に送信されるぞ」を実現します。</p>

		<form method="post" class="py-5">
			<div class="form-group row">
		 		<label class="col-form-label col-sm" for="inputContent">公開したいデータ</label>
				<textarea class="form-control col-sm" id="inputContent" name="inputContent" autofocus required></textarea>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm">公開するまでの期間</label>

				<select class="form-control col-sm-1" name="publishMonth">
					<script>for(let i = 0; i <= 36 ; i++)document.write("<option>" + i + "</option>")</script>
				</select>
				<label class="col-form-label pr-3">ヶ月</label>

				<select class="form-control col-sm-1" name="publishDays">
					<script>for(let i = 0; i <= 31 ; i++)document.write("<option>" + i + "</option>")</script>
				</select>
				<label class="col-form-label pr-3">日</label>

				<select class="form-control col-sm-1" name="publishHours">
					<script>for(let i = 0; i <= 12 ; i++)document.write("<option>" + i + "</option>")</script>
				</select>
				<label class="col-form-label">時間</label>

				<select class="form-control col-sm-1" name="publishMinutes">
					<script>for(let i = 0; i <= 59 ; i++)document.write("<option>" + i + "</option>")</script>
				</select>
				<label class="col-form-label">分後</label>
			</div>

			<div class="form-group text-center">
				<input class="form-contrtol" type="submit" value="Submit" class="btn btn-primary">
			</div>

		</form>
	</div>
</body>
</html>
